    .page{
        background-image: url('fundo.jpg');
        background-repeat: repeat;
        background-size: contain;
        background-size:400%;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 2em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        font-family: Showcard Gothic;
    }
    .login-page h1{
        font-weight: 300;
        font-style: oblique;
    }
    .login-page h2{
        font-weight: 300;
        font-style: oblique;
    }
    .login-page h4{
        font-weight: 300;
        color: ##151515;
        font-variant: small-caps;
    }
    .login-page button{
        font-weight: 300;
        color: #151515;
    }    

    .widget_sized li {
        display: inline-block;
        vertical-align: middle;

    }
    .widget_sized a label {
        box-sizing: border-box;
        width: auto;
        height: auto;
        display: inline-block;
        color: #151515;
        border: 1px dashed #e9e9e9;
        cursor: pointer;
    }

    .widget_sized a label:hover {
        color: #333;
        border: 1px dashed black;
    }
    .widget_sized input[type="checkbox"]:checked + a > label {
        border: 1px dashed black;
    }
    .widget_sized input[type="checkbox"] {
        display: none;
    }
    .widget_sized a {
        text-decoration: none;
    }